.details-container h2{
    font-size: 2rem;
    text-align: center;
    width: 95%;
}

.details-container h4{
    text-align: center;
}

.details-container h3 {
    font-size: 1.4rem;
}

.info-container {
    margin: .5rem;
}

.info-container p {
    padding: 1rem;
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .info-container p {
        padding: .5rem;
    }
    
}